{% extends "base.html" %}
{% block title %}Nueva contraseña{% endblock %}
{% block content %}
<div class="row justify-content-center"><div class="col-12 col-sm-10 col-md-6 col-lg-5">
    <div class="card shadow-sm"><div class="card-body p-4">
        <h1 class="h4 mb-3 text-center">Definir nueva contraseña</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include "includes/form_campos.html" %}
            <button class="btn btn-sgr w-100" type="submit">Guardar contraseña</button>
        </form>
    </div></div>
</div></div>
{% endblock %}
